.desktop

    .content
        height: max-content
        width: 100%
        position: absolute
        top: 30%
        transform: translateY(-50%)
        text-align: center
        transition: .8s

        h1
            font-size: 2em
        