@import _colors
@import _transitions

.mobile

    .home
        height: max-content
        width: 100vw
        text-align: center

        .content
            width: 100vw
            height: max-content
            position: fixed
            top: 40%
            transform: translateY(-50%)
            text-align: center

            img
                width: 60%
        
        h1
            color: $primaryColor
            font-size: 2em

            &.faq
                position: fixed
                font-size: 2em
                right: .5em
                top: .1em
                z-index: 200
                cursor: pointer

        p
            color: $primaryColor
            font-size: 1em
            opacity: .57

            &.sound
                position: fixed
                bottom: 1em
                width: 100vw
                text-align: center

    .faqview
        width: 100vw
        height: max-content
        text-align: center
        margin-top: 3em

        h2
            font-weight: 2
            margin-bottom: 1em

        .point
            width: 80vw
            margin-left: 10vw
            font-size: 1.6em
            height: max-content
            position: relative
            text-align: left
            overflow: visible
            margin-bottom: 1em

            &::before
                content: ""
                position: absolute
                left: -.7em
                top: .5em
                background: $primaryColor
                height: .4em
                width: .4em

        .section
            display: flex
            align-items: center
            text-align: center
            font-size: 2em
            margin-bottom: 1em

            &::before, &::after
                content: ''
                flex: 1
                border-bottom: 1px solid #ffffff

            &::before
                margin-right: .25em

            &::after
                margin-left: .25em
        
        .link
            width: 80vw
            margin-left: 10vw

            a
                color: $firstPlayerColor

        hr
            background: $primaryColor
            border-color: $primaryColor
        
        .enjoy
            font-size: 2.3em
            margin-top: 1em
        
        .share
            width: 40vw
            height: max-content
            background: $primaryColor
            color: $backgroundColor
            font-size: 1.4em
            outline: none
            border: none
            margin-top: 2em
            margin-bottom: 4em
            padding: .3em 0
        
        .close
            position: absolute
            top: .8em
            right: .8em
            height: 1.3em
            width: 1.3em
            z-index: 200

    .game

        .score
            position: fixed
            font-size: 2em
            top: .5em
            left: 50%
            transform: translateX(-50%)
            opacity: 0
            transition: opacity .5s
            color: $primaryColor
            z-index: 100

            &.active
                opacity: 1
                pointer-events: none

            .lobby
                color: $firstPlayerColor

            .join
                color: $secondPlayerColor


        .invite
            opacity: 0
            transition: 1s
            height: max-content
            width: 100vw
            position: fixed
            top: 50%
            transform: translateY(-50%)
            text-align: center
            overflow: visible
            background: $primaryColor
            pointer-events: none

            &.active
                opacity: 1
                pointer-events: unset

            img
                width: 40vw
                margin-top: .5em

            button
                width: 40vw
                height: max-content
                background: $backgroundColor
                color: $primaryColor
                font-size: 1.4em
                outline: none
                border: none
                padding: .3em 0
                display: block
                margin-left: 30vw
                margin-top: .5em
                margin-bottom: .5em
            
            p
                font-size: 1.5em
                color: $primaryColor
                opacity: .54
                position: absolute
                top: 0
                transform: translateY(-150%)
                left: 10%
                width: 80%
        
        .stage
            width: 100vw
            height: 100vh
            position: fixed
            top: 0
            left: 0
            opacity: 0
            pointer-events: none
            transition: opacity .4s

            &.active
                opacity: 1

            &.mirror
                transform: rotate(180deg)

    .resultview
        width: 100vw
        height: 100vh
        text-align: center
        
        .label
            font-size: 2.5em
            color: $primaryColor
            width: 100vw
            position: fixed
            left: 0
            bottom: 70vh

        .new
            width: 20vw
            height: 20vw
            position: fixed
            left: 40vw
            bottom: 25vw


