.view-enter
    opacity: 0
    transition: opacity .5s
    transition-delay: .5s

.view-enter-active
    opacity: 1

.view-enter-done
    opacity: 1

.view-exit
    opacity: 1
    transition: opacity .5s

.view-exit-active
    opacity: 0
