@import _colors
@import _desktop
@import _transitions
@import _mobile

*
    font-family: Merubot
    margin: 0
    padding: 0
    overflow-x: hidden
    color: $primaryColor
    user-select: none
    -ms-overflow-style: none

    &::-wekit-scrollbar
        display: none

body
    background: $backgroundColor