@import _colors

.fullscreen
    height: 100vh
    width: 100vh
    z-index: 100
    background: $backgroundColor
    position: fixed
    top: 0
    left: 0
    text-align: center

    h1
        color: $primaryColor
        font-size: 1.5em
        position: fixed
        top: 20vh
        left: 50vw
        width: 70vw
        transform: translate(-50%)