@import _colors

.notifications
    position: fixed
    bottom: 0
    left: 0
    width: 100vw
    font-size: 1.2em
    color: $backgroundColor
    background: $primaryColor
    text-align: center
    height: max-content
    transform: translateY(100%)
    transition: .3s
    padding-top: 1em
    padding-bottom: 1em
    z-index: 400

    &.active
        transform: translateY(0)

    span
        color: $backgroundColor
        width: 80vw
        text-align: center