@import _colors

$pixelSize: 20px

.skyfall
    height: 100vh
    width: 100vw
    position: fixed
    top: 0
    left: 0
    z-index: -2
    display: flex
    flex-direction: column
    justify-content: space-around
    opacity: 0
    transition: opacity .5s

    .snakeScore
        position: fixed
        right: 1em
        top: 1em
        font-size: 2em
        transition: .3s

    &.active
        opacity: 1

    .line
        width: 100vw
        height: $pixelSize
        display: flex
        flex-direction: row
        justify-content: space-around

        .pixel
            height: $pixelSize
            width: $pixelSize
            transition: .1s
            background: $backgroundColor